@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");



html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#navbar {
    ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333; 
    }
    
    #Logo {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 24px; 
        padding: 14px 16px; 
        color: white;
    }

    li {
        float: right; 
    }
    
    li a {
        font-family: 'Montserrat', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 20px 24px;
        text-decoration: none; 
    }
    
    li a:hover {
        background-color: #111; 
    }
    
    .navbar-button {
        background-color: #4CAF50; 
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin: 5px;
    }
    
    .navbar-button:hover {
        background-color: #45a049;
    }
}



#Title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 12vh;
    text-align: center;
    margin-bottom: 0.2vh;
    margin-top: 22vh; 
} 

#secondTitle {
    font-family: Arial, sans-serif; 
    font-weight: 500; 
    font-size: 4vh; 
    text-align: center; 
    margin-top: 0.5vh; 
}

#buttons {
    align-items: center;
    justify-content: center;
    display: flex;

    #aboutBtn {
        font-family: 'Montserrat', sans-serif;
        border-radius: 12px;
        background-color: #2b2b2b;
        border: none;
        color: white;
        padding: 15px 30px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        height: 60px; 
        transition: background-color 0.3s ease, transform 0.2s ease; 
    }

    #aboutBtn:hover {
        background-color: #3c3c3c;
        transform: scale(1.05); 
    }

    #aboutBtn:active {
        transform: scale(0.95); 
    }


    #likeBtn {
        font-family: 'Montserrat', sans-serif;
        border-radius: 12px;
        background-color: #2b2b2b; 
        border: none;
        color: white;
        padding: 15px 30px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        height: 60px; 
        transition: background-color 0.3s ease, transform 0.2s ease; 

        #emoji {
            font-size: 2rem; 
            vertical-align: middle;
            line-height: 1; 
            margin-top: -2px;
        }

    }
    
    #likeBtn:hover {
        background-color: #3c3c3c; 
        transform: scale(1.05); 
    }

    #likeBtn:active {
        transform: scale(0.95); 
    }
}





#footer {   
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
}


